/* Colors */
@main-color: #0aa4ee;
@text-color: #000;
@text-color2: #4f4f4f;

/* Sizes */
@base-width: 1200px;
@content-width: 870px;
@main-margin: 30px;
@text-margin: 36px;

@font-size: 16px;

.area {
    width: 1170px;
    margin: 0 auto;
}
#main {
    position: relative;
}

/* Body */
body {
min-width: 1200px;
max-width: 1920px;
color: @text-color;
font: @text-font;
}

.gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d3b99+0,a19ffd+100 */
background: #3d3b99; /* Old browsers */
background: -moz-linear-gradient(45deg,  #3d3b99 0%, #a19ffd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #3d3b99 0%,#a19ffd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #3d3b99 0%,#a19ffd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3b99', endColorstr='#a19ffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


/* Fonts */
@text-font: normal @font-size e('/') 1.2 "Roboto", Helvetica, Arial, sans-serif;
@title-font: bold 34px e('/') 1.2 "Roboto", Helvetica, Arial, sans-serif;