#home {
  padding: 45px 0px;
  h2 {
    font: @h2-font;
    span {
      color: #7c7c7c;
      margin-left: 50px;
      cursor: pointer;
      text-decoration: underline;
      font: @text-font;
      i {
        margin-right: 7px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  .home_info_box {
    padding: 30px 0px;
    .user_data {
      width: 515px;
      display: inline-block;
      vertical-align: top;
      ul {
        li {
          padding: 13px 5px 13px 28px;
          border-radius: 5px;
          position: relative;
          label {
            font-weight: bold;
            width: 215px;
            display: inline-block;
            padding-right: 15px;
          }
          span {
            vertical-align: top;
          }
          &:nth-child(odd) {
            background: #eff0f2;
          }
          .edit_line_pr {
            position: absolute;
            right: 0;
            top: 7px;
            width: 269px;
            input {
              padding: 4px;
              margin-right: 6px;
              &:last-child  {
                padding: 6px;
              }
            }
            .save_line_profile {
              color: #09d62e;
              cursor: pointer;
              padding: 2px;
              display: inline-block;
              margin-right: 5px;
            }
            .dell_line_profile {
              display: inline-block;
              color: #f90000;
              cursor: pointer;
            }

          }
        }
      }
    }
    .sidebar {
      width: 400px;
      display: inline-block;
      vertical-align: top;
      padding-left: 45px;
      button {
        width: 270px;
      }
      .need_to {
        margin-bottom: 18px;
      }
      .sale_to {
        h3 {
          font: @h3-font;
          width: 273px;
          display: inline-block;
          vertical-align: middle;
        }
        span {
          color: #27282d;
          font-size: 25px;
          background: #d6e3ed;
          width: 77px;
          display: inline-block;
          text-align: center;
          padding: 10px 0px;
          border-radius: 5px;
        }
      }
      .send_settings {
        h3 {
          font: @h3-font;
        }
        .list_send_settings {
          padding-top: 15px;
          .checkbox_box {
            width: 18px;
            display: inline-block;
            vertical-align: top;
          }
          p {
            display: inline-block;
            vertical-align: top;
            margin-left: 30px;
            b {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .users_sto {
    h3 {
      font: @h3-font;
      width: 190px;
      display: inline-block;
      vertical-align: middle;
    }
    a {
      i {
        color: #0e6db5;
        padding-right: 5px;
      }
      span {
        text-decoration: underline;
      }
      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
    button {
      margin-left: 50px;
      border: none;
      background: none;
      i {
        color: #0e6db5;
        padding-right: 5px;
      }
      span {
        text-decoration: underline;
      }
      &:hover {
        span {
          text-decoration: none;
        }
      }
    }
  }
  .table_user_work {
    thead {
      tr {
        td:nth-child(1) {
          width: 95px;
        }
        td:nth-child(2) {
          width: 217px;
        }
        td:nth-child(3) {
          width: 172px;
        }
        td:nth-child(4) {
          width: 220px;

        }

      }
    }
    tbody {
      tr {
        height: 170px;
        td:nth-child(4) {
          b {
            text-decoration: underline;
          }
        }
        td:nth-child(5) {
          p {
            line-height: 18px;
            padding-bottom: 30px;
          }
        }
      }
    }

  }
  .new_auto_user_box {
    width: 350px;
    .new_auto_user {
      text-align: center;
      input {
        margin-bottom: 10px;
      }
    }
  }
  .need_to_box {
    width: 400px;
    .add_new_work {
      text-align: center;
      p {
        padding-bottom: 6px;
      }
      input {
        margin-bottom: 10px;
      }
    }
  }
  .need_help_box {
    width: 400px;
    .add_new_work {
      text-align: center;
      p {
        padding-bottom: 6px;
      }
      input {
        margin-bottom: 10px;
      }
      select {
        background: #ffffff;
        width: 219px;
        padding: 7px;
        border-radius: 5px;
        color: #27282d;
        display: inline-block;
        margin-bottom: 10px;
      }
    }
  }
  .hate_you_box {
    width: 400px;
    .add_new_work {
      text-align: center;
      p {
        padding-bottom: 6px;
      }
      input {
        margin-bottom: 10px;
      }
      textarea {
        margin-bottom: 10px;
      }
    }
  }
  .ajax_detail_work_box {
    width: 537px;
  }
  .data_table_work {
      display: block;
      ul {
        li {
          padding: 7px 7px 7px 15px;
          border-radius: 5px;
          position: relative;
          &:nth-child(odd) {
            background: #17222b;
          }
          label {
            font-weight: bold;
            width: 215px;
            display: inline-block;
            padding-right: 15px;
          }
          span {
            vertical-align: top;
          }
          p {
            vertical-align: top;
            display: inline-block;
            width: 215px;
          }
          ul {
            vertical-align: top;
            display: inline-block;
            width: 215px;
            li {
              padding: 0px;
              list-style: initial;
              &:nth-child(odd) {
                background: none;
              }
            }
          }
        }
      }
    }
}