/* Button */
.buttons {
    text-align: center;
    color: #fff;
    border: none;
    padding: 11px 11px;
    border-radius: 4px;
    &.blue_buttons {
        font-size: 18px;
        color: #ffffff;
        border: 1px solid #6089a8;
        background: #649cc7;
        width: 270px;
    }
    &.yelow_buttons {
        font-size: 18px;
        color: #68331e;
        border: 1px solid #d2b88a;
        background: #ffcc00;
        width: 145px;
    }
    &.min_yelow_buttons {
        border: 1px solid #d2b88a;
        background: #ffcc00;
        color: #68331e;
        padding: 5px 16px;
    }
    &.no_opacity_btn {
        padding: 8px 16px;
        color: #656565;
        border: 1px solid #b5b5b5;
        display: inline-block;
    }
    &.no_opacity_blue_btn {
        border: 1px solid #0b72b9;
        display: inline-block;
        padding: 11px 34px;
        color: #0b72b9;
    }
    &.detail_btn {
        color: #656565;
        border: 1px solid #656565;
        display: inline-block;
        padding: 7px 24px 7px 12px;
        background: #fff url(img/detail_btn.png) 90% 50% no-repeat;
        width: 110px;
    }
    &.hide_detail_work_table {
        background: #9ea3ae url(img/hide_detail_work_table.png) 90% 50% no-repeat;
        color: #fff;
    }
    &:hover {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.68);
    }
}

.status_work {
    padding: 8px 16px;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 16px;
    &.status_work_0 {
        background: #c9cdd7;
        color: #778096;
    }
    &.status_work_1 {
        background: #c9cdd7;
        color: #778096;
    }
    &.status_work_2 {
        background: #c9cdd7;
        color: #778096;
    }
    &.status_work_3 {
        background: #c9cdd7;
        color: #778096;
    }
    &.status_work_4 {
        background: #b9da7f;
        color: #5e841c;
    }
}
.notification_box {
    padding: 36px;
    padding-left: 160px;
    padding-right: 60px;
    border-radius: 10px;
    margin-bottom: 50px;
    &.green_notification_box {
        line-height: 1.2;
        color: #486331;
        background: #e3f0d8 url(img/green_notification_box.png) 5% 50% no-repeat;
    }
    &.red_notification_box {
        line-height: 1.2;
        color: #fff;
        background: #f05a18 url(img/green_notification_box.png) 5% 50% no-repeat;
        margin: 50px 0px;
    }
    p {
        span {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}