.forms_in_cab {

label {
    font-size: 18px;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #4f4f4f;
    margin-bottom: 5px;
}
input {
    background: #fff;
    font-family: 'Roboto-Light';
    color: #4f4f4f;
    font-size: 14px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    padding: 14px 25px;
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;

&.input_icon_data {
background: url(img/input_icon_data.png) 96% 50% no-repeat;
}
&.input_icon_vk {
background: url(img/input_icon_vk.png) 96% 50% no-repeat;
}
&.input_icon_fb {
background: url(img/input_icon_fb.png) 96% 50% no-repeat;
}
&.input_icon_tw {
background: url(img/input_icon_tw.png) 96% 50% no-repeat;
}
&.input_icon_od {
background: url(img/input_icon_od.png) 96% 50% no-repeat;
}
&.input_icon_in {
background: url(img/input_icon_in.png) 96% 50% no-repeat;
}
&.input_icon_yt {
background: url(img/input_icon_yt.png) 96% 50% no-repeat;
}

}
select {
    background: #fff;
    font-family: 'Roboto-Light';
    color: #4f4f4f;
    font-size: 14px;
    border: none;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    padding: 14px 25px;
    display: inline-block;
    width: 100%;
margin-bottom: 14px;
option {

}
option:disabled {
    color: #C5C5C5;
}
}
button {

}
textarea {
    background: #fff;
    font-family: 'Roboto-Light';
    color: #4f4f4f;
    font-size: 14px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    padding: 14px 25px;
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
    height: 90px;
}
}
