/* Footer */
.support {

.area {
    padding-left: 285px;
}
    background: url(img/support_bg.jpg) top center no-repeat;
    padding-top: 88px;
    text-align: center;
h3 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 22px;
}
p {
    font-size: 16px;
    padding-bottom: 12px;
}
a {

}
span {
    font-size: 14px;
    display: block;
    padding-top: 45px;
    padding-bottom: 23px;
    color: #fff;
}
}