/* Header */
#top_block {
    background: url(img/top_menu_bg.png) top center no-repeat;
	#logo {
    display: inline-block;
    vertical-align: top;
    background: url(img/logo2.png) top center no-repeat;
    margin: 13px 0px;
		a {
			display: block;
			width: 270px;
			height: 86px;
			}
	}
#top_menu {
    width: 786px;
    display: inline-block;
    vertical-align: top;
    margin-left: 110px;
	ul {
		    text-align: center;
		li {
			display: inline-block;
			font-size: 0px;
			a {
		color: #fff;
		display: block;
		padding: 70px 0px 35px 0px;
	    font-size: @font-size;
				}
			}

#top_menu_1 {
width: 160px;
height: 124px;
background: url(img/top_menu_1.png) top center no-repeat;
&:hover, &.act_top_menu {
background: url(img/top_menu_1_h.png) top center no-repeat;
}
}
#top_menu_2 {
width: 171px;
height: 125px;
background: url(img/top_menu_2.png) top center no-repeat;
&:hover, &.act_top_menu {
background: url(img/top_menu_2_h.png) top center no-repeat;
}
}
#top_menu_3 {
width: 131px;
height: 121px;
background: url(img/top_menu_3.png) top center no-repeat;
&:hover, &.act_top_menu {
background: url(img/top_menu_3_h.png) top center no-repeat;
}
}
#top_menu_4 {
width: 182px;
height: 117px;
background: url(img/top_menu_4.png) top center no-repeat;
&:hover, &.act_top_menu {
background: url(img/top_menu_4_h.png) top center no-repeat;
}
}
#top_menu_5 {
width: 142px;
height: 109px;
background: url(img/top_menu_5.png) top center no-repeat;
&:hover, &.act_top_menu {
background: url(img/top_menu_5_h.png) top center no-repeat;
}
}

}
}
&:after {
    content: '';
    display: block;
    min-width: 1200px;
    max-width: 1920px;
    background: url(img/top_before.png) top center no-repeat;
    height: 62px;
    position: absolute;
    top: 87px;
    z-index: 1;
    width: 100%;
}
}

